@model List<Avaliacao3BimLp3.ViewModels.LojaViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mb-3">Lojas</h1>

@foreach(var loja in Model)
{
    <a href="/Home/Show/@loja.Id">
        <h3>@loja.Nome</h3>
    </a>
    <p>@loja.Piso</p>
    <p>@loja.TipoDeEstabelecimento</p>
    <hr>
   
}
